@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1 {
    color: #464646;
    text-align: center;
    font-family: 'Carter One';
    margin-bottom: 20px;
    margin-top: 50px;
}
h2 {
    color: #464646;;
    padding-left: 125px;
    font-family: 'Open Sans', sans-serif;
}
.product {
    background-color: #ECECEC; 
    width: 17%;
    margin: 20px;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    z-index: 1;
}
.product:hover {
	transform: scale(1.1);
    background-color: #9ACDC6;
}
.category-products{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.img-product-category{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 13px;
}
h3 {
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 5px;
}
.product-price {
    text-align: left;
    font-family: 'Carter One';
    color: #FF5959;
    margin: 5px;
}
.category {
    background-color: #ECECEC;
    width: 17%;
    margin: 20px;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    z-index: 1;
}
@media screen and (max-width: 800px) {
    .category, .product {
        min-width: 250px;
    }
}
.category:hover {
	transform: scale(1.1);
    background-color: #9ACDC6;
}
.title-category{
    color: #464646;
    text-align: center;
    font-family: 'Carter One';
    margin: 5px;
}
a {
    text-decoration: none;
}