@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1 {
    color: #464646;
    text-align: center;
    font-family: 'Carter One';
    margin-top: 100px;
}
.subtitulo {
    color: #464646;;
    padding-left: 125px;
    font-family: 'Open Sans', sans-serif;
}
.producto {
    background-color: #ECECEC; 
    width: 250px;
    margin: 31px;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    z-index: 1;
}
.producto:hover {
	transform: scale(1.1);
    background-color: #9ACDC6;
}
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.img-producto{
    width: 100%;
}
h3 {
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 5px;
}
.precio {
    text-align: left;
    font-family: 'Carter One';
    color: #FF5959;
    margin: 5px;
}
.category {
    background-color: #ECECEC;
    width: 250px;
    margin: 31px;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    z-index: 1;
}
.category:hover {
	transform: scale(1.1);
    background-color: #9ACDC6;
}
.titulo-categoria{
    color: #464646;
    text-align: center;
    font-family: 'Carter One';
    margin: 5px;
}
a {
    text-decoration: none;
}