body {
    background-color: #e6e5e5;
    margin: 0px;
}
header{
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
}
nav{
    background-color: #66B6AB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navigation-search-container{
    background-color:#9ACDC6;
    width: auto;
    height: 45px;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 17px;
    border-radius: 5px;
    
}
#img1{
    width: 350px;
    margin-top: 2px;
    padding-left: 20px;
}
.img2{
    width: 25px;
    padding-left: 7px;
}
.img3{
    width: 35px;
    margin: 10px;
    margin-left: 0px;
}
.img4{
    width: 50px;
    margin-right: 10px;
    padding-right: 20px;
}
.img5 {
    width: 40px;
    margin-right: 0px;
    padding-right: 20px;
}
.search-input{
    height: 30px;
    background-color: #9ACDC6;
    border: 0cm;
    border-radius: 3px;
    outline: none;
    margin-left: 10px;
    width: 250px;
}
footer{
    background-color: #464646;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-icon{
    width: 20px;
    margin-right: 5px;
}
.footer{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
}
#footer1{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.footerText{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}
.footerText1{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
}
#centro{
    margin-left: -110px;
}
