@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #e6e5e5;
}
#img-logo {
    width: 32%;
}
#container {
    background-color: #F8F8F8;
    margin: 40px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    height: 500px;
}
#cont {
    display: flex;
    flex-flow: row wrap;
}
#logo { 
    text-align: center;
    margin-top: 35px;
}
#registrarse {
    text-align: center;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 25px 0px 25px 25px;
    width: 50%;
    height: 75px;
    font-family: 'Carter One';
}
#login {
    text-align: center;
    background-color: #66B6AB;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 0px 25px 25px 25px;
    width: 50%;
    height: 75px;
    font-family: 'Carter One';
}
h1 {
    color: #464646;
}
.required {
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    
}
input {
    border-radius: 13px;
    border-color: #b0b0b0;
    width: 210px;
    margin-bottom: 40px;
    margin-top: 10px;
    height: 40px;
}
form {
    margin-top: 50px;
    position: relative;
}
#btn-acceder {
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 13px;
    width: 215px;
    background-color: #FF5959;
    color: #ECECEC;
    font-family: 'Carter One';
    border: none;
    font-size: 22px;
    font-weight: bold;
}
a {
    text-decoration: none;
}
.bloque {
    width: 215px;
    margin-left: auto;
    margin-right: auto;
}