@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
section{
    margin-top: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
span{
    font-family: 'Open Sans', sans-serif;
}
.left-block{
    width: 70%;
    min-width: 510px;
}

#title-container{
    text-align: center;
    margin: 30px;
    border-radius: 10px;
    padding: 50px;
    background-color: #ECECEC;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}
.product{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.product-container{
    text-align: center;
    margin: 30px;
    border-radius: 10px;
    padding: 50px;
    background-color: #ECECEC;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}
.product-img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    align-self: flex-start;
}
.product-price{
    font-size: 30px;
    flex-basis: 100%;
}
.quantity{
    flex-basis: 100%;
}
.product-button {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #ECECEC;
    border: none;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    margin: 4px;
}
.total-title-container{
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #666666;
    width: 300px;
    padding: 50px;
    height: 50px;
    background-color: #ECECEC;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}
.totals-container{
    border-bottom: 1px solid #464646;
    width: 300px;
    padding: 50px;
    background-color: #ECECEC;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}
.subtotal-container-ext, .total-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.right-block{
    margin-top: 30px;
    margin-bottom: 30px;
}

.pay-button-container{
    width: 300px;
    padding: 50px;
    height: 40px;
    background-color: #ECECEC;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    
}
#pay-button{
    width: 250px;
    height: 55px;
    background-color: #FF5959;
    border-radius: 13px;
    border: none;
    font-family: 'carter one';
    font-size: 40px;

}
h1, h2{
    font-size: 40px;
}
h1{
    font-family: 'carter one';
}
#pay-button{
    font-family: 'carter one';
    color: white;
}

#price-products-total{
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-value {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    margin-top: 15px;
    margin-bottom: 15px;
}
.delete-product-button{
    color: #FF5959;
}
.product-price a{
    text-decoration: none;
    color: black;
}