<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/estiloBarraNavegación.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/estiloAboutUs.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav1">
                <a href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/html/home.html"><img id="logo" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/logo.png"></a>
            </div>
            <div class="nav2">
                <img class="imgSearch" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/search.png" alt=""><input class="search" type="search" placeholder="">
            </div>
            <div class="nav1">
                <a href="../html/login.html"><img class="imgUser" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/user.png" alt=""></a><a href="../html/shoppingCar.html"><img class="imgShoppingCart" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/shoppingcart.png" alt=""></a>
            </div>
        </nav>
    </header>
    <div class="aboutUs">
        <img class="imgAboutUs" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/img/imgAboutUs.jpg">
    </div>
    <section>
        <h1>
            ¿Quiénes somos?
        </h1>
        <p>
            ¡Bienvenido al mundo de los caninos a la moda! Somos una tienda de ropa para perros donde podrás encontrar los mejores atuendos para tus peludos amigos. Pero, ¿quiénes somos nosotros? ¡Déjanos presentarnos!
        </p>

        <p>
            Somos un grupo de amantes de los perros, ¡y de la moda! Nos encanta vestir a nuestros amigos peludos con la ropa más moderna y chic, y nos dimos cuenta de que había una gran necesidad de una tienda especializada en ropa para perros. Así que, decidimos unir fuerzas y crear esta tienda para que todos los perros puedan vestir a la moda.
        </p>

        <p>
            En nuestra tienda, encontrarás todo lo que necesitas para hacer que tu perro sea el más fashion de la cuadra. Tenemos ropa de todos los estilos, desde chuvasqueros molones hasta sudaderas cómodas y divertidas. También tenemos accesorios para complementar su atuendo, como cascos, gafas de sol y collares con diamantes (porque todos sabemos que nuestros perros merecen lo mejor).
        </p>

        <p>
            Además, no solo nos preocupamos por el estilo de nuestros amigos caninos, también nos preocupamos por su comodidad. Todos nuestros productos están hechos con materiales de alta calidad y son cómodos de llevar para que tu perro pueda moverse libremente.
        </p>

        <p>
            Así que, si quieres que tu perro sea el más elegante y cómodo de la ciudad, ¡ven a visitarnos! ¡Te aseguramos que no te arrepentirás!
        </p>
    </section>
    <footer>
        <div class="footer">
            <p class="footerText1">Contacto</p> 
            <div id="footer1">
                <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/phone.png"><span class="footerText">  666 666 666</span>
            </div>
            <div id="footer1">
                <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/email.png"><span class="footerText">  info@pawparadise.com</span>
            </div>
        </div>
        <div id="centro"> 
            <a class="footerText" href="../html/aboutUs.html">Quienes somos</a>
        </div>
        <div class="footer">         
            <p class="footerText1">Síguenos</p>
            <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/instagram.png">
            <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/facebook.png">
        </div>
    </footer>
</body>
</html>