<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/category.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aside.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ropa</title>
</head>
<body>
<header th:replace="~{base/common :: principal}"></header>
<h1 id="categoria">ROPA</h1>
    <section>
        <a th:each="category : ${categories}" th:href="@{${'/' + language + '/categorias/' + category.id}}" class="categoria">
            <img class="img-producto" th:src="${category.image}" alt="">
            <h3 class="titulo-categoria" th:text="${category.name}"></h3>
        </a>
    </section>
    <h2 class="subtitulo">PRODUCTOS</h2>
    <section>
        <th:block th:each="product : ${products}">
            <th:block th:each="n : ${#numbers.sequence(1, 8)}">
                <a class="producto" th:href="@{${'/' + language + '/productos/' + product.id}}">
                    <img class="img-producto" th:src="${product.image}" alt="">
                    <h3 th:text="${product.name}"></h3>
                    <h3 class="precio" th:text="${product.price} + '€'"></h3>
                </a>
            </th:block>
        </th:block>
    </section>
<footer th:replace="~{base/common :: footer}"></footer>
</body>
</html>