<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/books.css}"> -->
</head>
<body>
    <ul class="categoriesList">
        <a th:each="category : ${categories}" th:href="${category.id}">
            <li th:text="|${category.name}|">Sin producto</li>
        </a>     
    </ul>

</body>
</html>