<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{base/common :: additional-head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
    <title th:text="Error"></title>
</head>

<body>
    <header th:replace="~{base/common :: header}"></header>
    <section>
        <img th:src="@{/img/error/dog.png}" alt="error">
        <span th:text="${jsonData.getString('main_text')}">Something went wrong...</span>
    </section>
    <footer th:replace="~{base/common :: footer}"></footer>
</body>

</html>