<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>
    <section id="logo">
        <a th:href="@{${'/' + language}}">
            <img id="img-logo" th:src="@{/img/icon/logo.png}">
        </a>
    </section>
    <section id="container">
        <div id="cont">
            <div id="registrarse">
                <a th:href="@{${'/' + language + '/register'}}"><h1>Registrarse</h1></a>
            </div>
            <div id="login">
                <h1>Acceder</h1>
            </div>
        </div>
        <div class="bloque">
            <form>
                <label class="required" for="correo">EMAIL:</label><br>
                <input type="email" id="input" name="correo" value="" required><br>
                <label class="required" for="contraseña">CONTRASEÑA:</label><br>
                <input type="contraseña" id="input" name="contraseña" value="" required>
                <input id="btn-acceder" type="submit" value="Acceder">
            </form>
        </div>
        
    </section>
</body>
</html>