<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/producto.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/estiloBarraNavegación.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/estiloMenu2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Producto</title>
</head>
<body>
    <header id="principal">
        <nav> 
            <div class="nav1">
                <a href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/html/home.html"><img id="logo" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/logo.png"></a>
            </div>
            <div class="nav2">
                <img class="imgSearch" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/search.png" alt=""><input class="search" type="search" placeholder="">
            </div>
            <div class="nav1">
                <a href="login.html"><img class="imgUser" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/user.png" alt=""></a>
                <a href="shoppingCar.html"><img class="imgShoppingCart" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/shoppingcart.png" alt=""></a>
                <div class="menu">
                    <input type="checkbox" id="check">
                    <label for="check">
                        <i class="fa fa-bars" id="btn"></i>
                        <i class="fa fa-times" id="cancel"></i>
                        <div class="sidebar">
                            <header>
                                CATEGORIAS
                            </header>
                            <ul>
                                <li><a href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/html/ropa.html">ROPA</a></li>
                                <li><a href="">PASEO</a></li>
                                <li><a href="">VIAJES</a></li>
                                <li><a href="">COMPLEMENTOS</a></li>
                            </ul>
                        </div>    
                    </label>
                </div>
            </div>
        </nav>
    </header>
    <div id="container-uno">
        <div class="bloque-uno">
            <div id="marco">
                <img id="img-prod" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/img/chubasquero%20amarillo.png">
            </div>
        </div>
        <div class="bloque-dos">
            <div>
                <h1>Chubasquero amarillo</h1>
                <p>Los días de lluvia dan mucha pereza. Sólo apetece quedarse en casa con una manta y una película. Pero nuestros peludos siguen necesitando sus paseos, no podemos dejarlos en casa todo el día. Por eso, es importante estar preparados y equiparlos con los accesorios necesarios. Te presentamos nuetro chubasquero amarillo, que hace referencia a la pelicula de IT.</p>
            </div>
            <div>
                <div >
                    <div id="position-dos">
                        <div>
                            <p id="negrita">Cantidad:</p>
                        </div>
                        <div>
                            <script language="javascript"> 
                                var i = 1; 
                                function contadormas(){ 
                                    i = i + 1; 
                                    var cant = document.getElementById("numero"); 
                                    cant.value = i;
                                    if(cant.value == 1){
                                            i=1;
                                    }
                                }
                                function contadormenos(){ 
                                    if(i>=2){
                                        i = i - 1; 
                                        var cant = document.getElementById("numero"); 
                                        cant.value = i;
                                        if(cant.value == 1){
                                            i=1;
                                        }
                                    }
                                }
                            </script>
                            <button class="btn" type="button" id="cantidad" onclick="javascript: contadormenos()">-</button>
                            <input class="cant" id="numero" type="text" style="text-align: center;" value="1">
                            <button class="btn" type="button" id="cantidad" onclick="javascript: contadormas()">+</button>
                        </div>
                    </div>
                </div>
                <div id="precio-position">
                    <h1 id="precio">39,99€</h1>
                </div>
            </div>
            <div id="añadir">
                <h1>Añadir</h1>
            </div>
        </div>
    </div>
    <div id="container-dos">
        <h2>Descripción:</h2>
        <ul>
            <li>Protege el cuerpo entero de humedad, suciedad y frío en temperaturas muy bajas</li>
            <li>Especialmente recomendable para perros de pelo corto</li>
            <li>Impermeable y protegido contra el viento pero de membrana transpirable</li>
            <li>Con forro suave de felpa y acolchado (poliéster)</li>
            <li>Costuras selladas y cremallera impermeable</li> 
            <li>Puede combinarse con arnés</li>
            <li>Ajuste perfecto por las inserciones elásticas, cordones y cinta de cierre</li>
            <li>Color: amarillo</li>
        </ul>
    </div>
    <footer>
        <div class="footer">
            <span class="footerText1">Contacto</span> 
            <div id="footer1">
                <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/phone.png"><p class="footerText">  666 666 666</p>
            </div>
            <div id="footer1">
                <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/email.png"><p class="footerText">  info@pawparadise.com</p>
            </div>
        </div>
        <div id="centro">
            <a class="footerText1" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/html/aboutUs.html"><span>Quienes somos</span></a>
        </div>
        <div class="footer">         
            <span class="footerText1">Síguenos</span><br>
            <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/instagram.png">
            <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/facebook.png">
        </div>
    </footer>
</body>
</html>