<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/css/register.css}">
    <title>Register</title>
</head>
<body>
    <section id="logo">
        <a th:href="@{${'/' + language}}">
            <img id="img-logo" th:src="@{/img/icon/logo.png}">
        </a>
    </section>
    <section id="container">
        <div id="cont">
            <div id="registrarse">
                <h1>Registrarse</h1>
            </div>
            <div id="login">
                <a th:href="@{${'/' + language + '/login'}}"><h1>Acceder</h1></a>
            </div>
        </div>
            <div class="bloque">
                <form>
                    <label class="required" for="correo">EMAIL:</label><br>
                    <input type="email" id="input" name="correo" value="" required><br>
                    <label class="required" for="nombre">NOMBRE:</label><br>
                    <input type="nombre" id="input" name="nombre" value="" required><br>
                    <label class="required" for="apellido">APELLIDO:</label><br>
                    <input type="apellido" id="input" name="apellido" value="" required><br>
                    <label class="required" for="contraseña">CONTRASEÑA:</label><br>
                    <input type="contraseña" id="input" name="contraseña" value="" required><br>
                    <label class="required" for="contraseña">REPETIR CONTRASEÑA:</label><br>
                    <input type="contraseña" id="input" name="contraseña" value="" required><br>
                    <input id="btn-acceder" type="submit" value="Registrarse">
                </form> 
            </div>
    </section>
</body>
</html>