<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:rel="stylesheet" th:href="@{/css/shopping-cart.css}">
    <th:block th:replace="base/common :: additional-head"></th:block>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
</head>
<body>
    <header th:replace="~{base/common :: header}"></header>
    <section>
        <div class="left-block">
            <div id="title-container">
                <h1>Mi carrito</h1>
            </div>
            <div th:each="purchaseLine : ${purchase.purchaseLineList}" class="product-container">
                <div class="product-img">
                    <img class="product-img" th:src="${purchaseLine.product.image}">
                </div>
                <div class="product">
                        <div class="product-price">
                            <span th:text="${purchaseLine.product.price} + '€'"></span>
                            <br>
                            <span th:text="${purchaseLine.product.name}"></span>
                        </div>
                        <div class="quantity">
                            <span>Cantidad:</span>
                            <div class="buttons">
                                <form th:action="@{${'/' + language + '/carrito/producto/' + purchaseLine.product.id}}" method="post" th:method="patch">
                                    <button class="product-button" type="button">-</button>
                                    <input name="quantity" class="cant" id="numero" type="text" style="text-align: center;" th:value="${purchaseLine.quantity}">
                                    <button class="product-button" type="button">+</button>
                                    <button type="submit" hidden=""></button>
                                </form>
                                <form th:action="@{${'/' + language + '/carrito/producto/' + purchaseLine.product.id}}" method="post" th:method="delete">
                                    <button class="product-button" type="submit">X</button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="right-block">
            <div class="total-title-container">
                <h1>Total</h1>
            </div>
            <div class="totals-container">
                <div class="subtotal-container-ext">
                    <div class="subtotal-container-int">
                        <span>Subtotal</span><br>
                        <div id="price-products-total">
                            <p th:each="purchaseLine : ${purchase.purchaseLineList}" th:text="${purchaseLine.product.name} + ' - ' + ${purchaseLine.quantity} + ' - ' + ${purchaseLine.totalPrice} + '€'">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="total-container">
                    <div>
                        <span>Total</span>
                    </div>
                    <div class="product-price">
                        <span th:text="${purchase.totalPrice} + '€'"></span>
                    </div>
                </div>
            </div>
            <div class="pay-button-container">
                <form th:action="@{${'/' + language + '/carrito'}}" method="post" th:method="patch">
                    <button type="submit" id="pay-button" onclick=""><p>Pagar</p></button>
                </form>
            </div>
        </div>
</section>
<footer th:replace="~{base/common :: footer}"></footer>
</body>
</html>