<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${jsonData.getString('shoping_cart')}">Document</title>
    <link th:rel="stylesheet" th:href="@{/css/shopping-cart.css}">
    <th:block th:replace="~{base/common :: additional-head}"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/3caf9d472f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
</head>
<body>
    <header th:replace="~{base/common :: header}"></header>
    <section>
        <div class="left-block">
            <div id="title-container">
                <h1 th:text="${jsonData.getString('title_shoping_cart')}">Mi carrito</h1>
            </div>
            <div th:each="purchaseLine : ${purchase.purchaseLineList}" class="product-container">
                <a th:href="@{${'/' + language + '/producto/' + purchaseLine.product.id}}">
                    <div class="product-img">
                        <img class="product-img" th:src="${purchaseLine.product.image}">
                    </div>
                </a>
                <div class="product">
                        <div class="product-price">
                            <a th:href="@{${'/' + language + '/producto/' + purchaseLine.product.id}}">
                                <span th:text="${purchaseLine.product.price} + '€'"></span>
                                <br>
                                <span th:text="${purchaseLine.product.name}"></span>
                            </a>
                        </div>
                        <div class="quantity">
                            <span th:text="${jsonData.getString('quantity')}">Cantidad:</span>
                            <div class="buttons">
                                <form th:action="@{${'/' + language + '/carrito/producto/' + purchaseLine.product.id}}" method="post" th:method="patch">
                                    <input name="quantity" class="quantity-value" type="number" th:value="${purchaseLine.quantity}" min="1" max="15">
                                    <button type="submit" class="product-button fa-solid fa-check"></button>
                                </form>
                                <form th:action="@{${'/' + language + '/carrito/producto/' + purchaseLine.product.id}}" method="post" th:method="delete">
                                    <button  class="delete-product-button product-button fa-solid fa-trash" type="submit"></button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="right-block">
            <div class="total-title-container">
                <h1 th:text="${jsonData.getString('total')}">Total</h1>
            </div>
            <div class="totals-container">
                <div class="subtotal-container-ext">
                    <div class="subtotal-container-int">
                        <span th:text="${jsonData.getString('subtotal')}">Subtotal</span><br>
                        <div id="price-products-total">
                            <p th:each="purchaseLine : ${purchase.purchaseLineList}" th:text="${purchaseLine.product.name} + ' - ' + ${purchaseLine.quantity} + ' - ' + ${purchaseLine.totalPrice} + '€'">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="total-container">
                    <div>
                        <span th:text="${jsonData.getString('total')}">Total</span>
                    </div>
                    <div class="product-price">
                        <span th:text="${purchase.totalPrice} + '€'"></span>
                    </div>
                </div>
            </div>
            <div class="pay-button-container">
                <form th:action="@{${'/' + language + '/carrito'}}" method="post" th:method="patch">
                    <button th:text="${jsonData.getString('pay_button')}" type="submit" id="pay-button" onclick="">Pagar</button>
                </form>
            </div>
        </div>
</section>
<footer th:replace="~{base/common :: footer}"></footer>
</body>
</html>