<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/estiloShoppingCar.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/estiloBarraNavegación.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/css/estiloMenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
</head>
<body>
    <header id="principal">
        <nav>
            <div class="nav1">
                <a href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/html/home.html"><img id="logo" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/logo.png"></a>
            </div>
            <div class="nav2">
                <img class="imgSearch" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/search.png" alt=""><input class="search" type="search" placeholder="">
            </div>
            <div class="nav1">
                <a href="login.html"><img class="imgUser" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/user.png" alt=""></a>
                <a href="../html/shoppingCar.html"><img class="imgShoppingCart" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/shoppingcart.png" alt=""></a>
                <div class="menu">
                    <input type="checkbox" id="check">
                    <label for="check">
                        <i class="fa fa-bars" id="btn"></i>
                        <i class="fa fa-times" id="cancel"></i>
                        <div class="sidebar">
                            <header>
                                CATEGORIAS
                            </header>
                            <ul>
                                <li><a href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/html/ropa.html">ROPA</a></li>
                                <li><a href="">PASEO</a></li>
                                <li><a href="">VIAJES</a></li>
                                <li><a href="">COMPLEMENTOS</a></li>
                            </ul>
                        </div>    
                    </label>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container1">
            <div class="container1-1">
                <h1>Mi carrito</h1>
            </div>
            <div class="container1-2">
                <div class="imgProducto">
                    <img class="imgProducto" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/img/imgRopa.png" alt="">
                </div>
                <div class="producto">
                    <div class="precio">
                        39.99€ 
                        <br>
                        <span>Chubasquero</span> 
                    </div>
                    <div class="cantidad">
                        <div >
                            <span>cantidad:</span>  
                            <script language="javascript"> 
                                var i = 1; 
                                function contadormas(){ 
                                    i = i + 1; 
                                    var cant = document.getElementById("numero"); 
                                    cant.value = i;
                                    if(cant.value == 1){
                                            i=1;
                                    }
                                }
                                function contadormenos(){ 
                                    if(i>=2){
                                        i = i - 1; 
                                        var cant = document.getElementById("numero"); 
                                        cant.value = i;
                                        if(cant.value == 1){
                                            i=1;
                                        }
                                    }
                                }
                            </script>
                            <button class="btn" type="button" id="cantidad" onclick="javascript: contadormenos()">-</button>
                            <input class="cant" id="numero" type="text" style="text-align: center;" value="1">
                            <button class="btn" type="button" id="cantidad" onclick="javascript: contadormas()">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container1-3">
                <h2>Subtotal:</h2>
            </div>
        </div>
        <div class="container2">
            <div class="container2-1">
                <h1>Total</h1>
            </div>
            <div class="container2-2">
                <div class="subtotal">
                    <div class="subtotal1-1">
                        <span>Subtotal</span> 
                    </div>
                    <div class="subtotal1-2 precio">
                        <span>12€</span> 
                    </div>
                </div>
                <div class="total">
                    <div class="total1-1">
                        <span>Total</span>
                    </div>
                    <div class="total1-2 precio">
                        <span>3€</span>
                    </div>
                </div>
            </div>
            <div class="container2-3">
                <button type="button" id="btnPagar" onclick=""><p>Pagar</p></button>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <span class="footerText1">Contacto</span> 
            <div id="footer1">
                <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/phone.png"><p class="footerText">  666 666 666</p>
            </div>
            <div id="footer1">
                <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/email.png"><p class="footerText">  info@pawparadise.com</p>
            </div>
        </div>
        <div id="centro">
            <a class="footerText1" href="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/html/aboutUs.html"><span>Quienes somos</span></a>
        </div>
        <div class="footer">         
            <span class="footerText1">Síguenos</span><br>
            <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/instagram.png">
            <img class="imgFooter" src="../../../../../../Downloads/PAW%20PARADISE-20230523T172557Z-nuevo001/PAW%20PARADISE/iconos/facebook.png">
        </div>
    </footer>
</body>
</html>