<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
<header id="principal" th:fragment="principal">
    <nav>
        <div class="flex-nav">
            <a th:href="@{${'/' + language}}">
                <img id="logo" th:src="@{/img/icon/logo.png}">
            </a>
        </div>
        <div class="navigation-search-container">
            <img id="img-search" th:src="@{/img/icon/search.png}" alt="">
            <form th:action="@{${'/' + language + '/productos/buscar'}}" method="get">
                <input id="search-input" type="search" name="nombre" placeholder="">
                <input type="submit" hidden="">
            </form>
        </div>
        <div class="flex-nav">
            <a th:href="@{${'/' + language + '/login'}}"><img id="img-user" th:src="@{/img/icon/user.png}" alt=""></a>
            <a th:href="@{${'/' + language + '/carrito'}}"><img id="img-shopping-cart" th:src="@{/img/icon/shoppingCart.png}" alt=""></a>
            <div class="menu">
                <input type="checkbox" id="check">
                <label for="check">
                    <i class="fa fa-bars" id="open-button"></i>
                    <i class="fa fa-times" id="close-button"></i>
                    <div id="sidebar">
                        <span id="categories-title">
                            CATEGORIAS
                        </span>
                        <ul>
                            <li><a href="../html/ropa.html">ROPA</a></li>
                            <li><a href="">PASEO</a></li>
                            <li><a href="">VIAJES</a></li>
                            <li><a href="">COMPLEMENTOS</a></li>
                        </ul>
                    </div>
                </label>
            </div>
        </div>
    </nav>
</header>
<footer th:fragment="footer">
    <div class="footer">
        <span class="footer-text">Contacto</span>
        <div id="footer1">
            <img class="footer-icon" th:src="@{/img/icon/phone.png}"><p class="footerText">  666 666 666</p>
        </div>
        <div id="footer1">
            <img class="footer-icon" th:src="@{/img/icon/email.png}"><p class="footerText"><p class="footerText">  info@pawparadise.com</p>
        </div>
    </div>
    <div id="centro">
        <a class="footer-text" th:href="@{${'/' + language + '/about-us'}}"><span>Quienes somos</span></a>
    </div>
    <div class="footer">
        <span class="footer-text">Síguenos</span><br>
        <img class="footer-icon" th:src="@{/img/icon/instagram.png}">
        <img class="footer-icon" th:src="@{/img/icon/facebook.png}">
    </div>
</footer>
</body>
</html>